<h4>Reactive Forms Example</h4>


<form [formGroup]="form">
  <p>
    <mdl-textfield label="First Name" name="firstname" type="text" formControlName="firstName" floating-label></mdl-textfield>
  </p>
  <p>
    <mdl-textfield label="Last Name" name="lastname" type="text" formControlName="lastName" floating-label></mdl-textfield>
  </p>
  <p>
    <mdl-textfield
            label="Email"
            name="email"
            type="text"
            formControlName="email"
            floating-label
            pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$"
            error-msg="Please provide a correct email!"></mdl-textfield>
  </p>
  <p>
    <mdl-textfield
            [class.is-invalid]="email2.invalid"
            label="Email (2)"
            name="email2"
            type="text"
            formControlName="email2"
            disableNativeValidityChecking
            [error-msg]="'Please provide a correct email!'"
            floating-label></mdl-textfield>
  </p>
  <p>
    <button mdl-button (click)="onSubmit()"  [disabled]="!form.valid" mdl-button-type="raised" mdl-ripple mdl-colored="primary">Submit</button>
  </p>
</form>
<p>The submit is logged to the browser console.</p>
<p>You need to add the FormsModule and the ReactiveFormsModule to your app module.</p>

<pre prism>
  <![CDATA[
<form [formGroup]="form">
  <p>
    <mdl-textfield label="First Name" type="text" formControlName="firstName" floating-label></mdl-textfield>
  </p>
  <p>
    <mdl-textfield label="Last Name" type="text" formControlName="lastName" floating-label></mdl-textfield>
  </p>
  <p>
    <button mdl-button (click)="onSubmit()"  [disabled]="!form.valid" mdl-button-type="raised" mdl-ripple mdl-colored="primary">Submit</button>
  </p>
</form>
]]>
</pre>

<pre prism>
  <![CDATA[
export class ReactiveFormsDemo {

  public form: FormGroup;
  public firstName = new FormControl('');
  public lastName = new FormControl('', Validators.required);

  constructor(private fb: FormBuilder) {
    this.form = fb.group({
      'firstName': this.firstName,
      'lastName': this.lastName
    });
  }

  public onSubmit() {
    console.log(this.form);
  }
}
]]>
</pre>