
@import "../../../core/src/scss/color-definitions";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-indigo-A200;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

// this looks really better than the mdl defautlt :(
.mdl-layout__drawer-button {
  line-height: 42px;
}

.router-outlet {
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

main {
  display: flex !important;
  flex-direction: row;
}

.main-footer {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}
nav {

a[routerLink], a.routerLink {
  padding: 8px 36px !important;
  font-size: 18px !important;
  color: unquote("rgb(#{$palette-grey-800})") !important;

&.router-link-active {
   color: unquote("rgb(#{$color-primary})") !important;
 }
}
}

h4{
  text-transform: uppercase;
}

.app-main-content {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

[prism] {
  background: #f5f2f0;
  white-space: pre-wrap;
  padding-left: 1rem;
}

table.docu {
  width: 100%;
  position: relative;
  border: 1px solid rgba(0,0,0,.12);
  border-collapse: collapse;
  white-space: normal;
  font-size: 13px;
  background-color: #fff;
  margin-bottom: 1rem;

thead {
  background-color: unquote("rgb(#{$color-primary})");

th {
  position: relative;
  vertical-align: bottom;
  text-overflow: ellipsis;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  height: 48px;
  font-size: 16px;
  color: unquote("rgb(#{$color-accent})");
  padding-bottom: 8px;
  box-sizing: border-box;
}
}

tbody {

td:first-child {
  font-weight: bold;
  max-width: 300px;
  white-space: nowrap;
}

td {
  vertical-align: top;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, .12);
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  padding: 12px 18px;
  box-sizing: border-box;
  opacity: 0.8;
  font-size: 16px;
}
}

}

.icon svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
