<h4>The Dialog</h4>

<button
        mdl-button
        mdl-button-type="raised"
        mdl-colored="accent"
        mdl-ripple
        (click)="showAlert()">Show Alert</button>

<pre prism>
  <![CDATA[

]]>
</pre>

<button
  mdl-button
  mdl-button-type="raised"
  mdl-colored="primary"
  mdl-ripple
  (click)="showConfirmMessage()">Show Confirm Message</button>

<pre prism>
  <![CDATA[

]]>
</pre>

<button
        mdl-button
        mdl-button-type="raised"
        mdl-colored="primary"
        mdl-ripple
        (click)="showDialog()">Show Dialog</button>

<pre prism>
  <![CDATA[

]]>
</pre>

<button
        mdl-button
        mdl-button-type="raised"
        mdl-colored="primary"
        mdl-ripple
        (click)="showDialogFullWidthAction()">Show Dialog with full width actions</button>


<pre prism>
  <![CDATA[

]]>
</pre>

