<h4>Layouts</h4>

<h5>Navigation layouts</h5>

The screen width must be wider than 1024px to see the header in any case.

<h6>Navigation Layout with transparent header</h6>

<div class="demo-container demo-layout-transparent" mdl-shadow="2">
   <mdl-layout #mdlLayout1="mdlLayout">
      <mdl-layout-header mdl-layout-header-transparent>
         <mdl-layout-header-row>
            <mdl-layout-title>Title</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <nav class="mdl-navigation">
               <a class="mdl-navigation__link" [routerLink]="['/layout/l1']">Link 1</a>
               <a class="mdl-navigation__link" [routerLink]="['/layout/l2']">Link 2</a>
               <a class="mdl-navigation__link" [routerLink]="['/layout/l3']">Link 3</a>
            </nav>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>Title</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" [routerLink]="['/layout/l1']" (click)="mdlLayout1.closeDrawer()">Link 1</a>
            <a class="mdl-navigation__link" [routerLink]="['/layout/l2']" (click)="mdlLayout1.closeDrawer()">Link 2</a>
            <a class="mdl-navigation__link" [routerLink]="['/layout/l3']" (click)="mdlLayout1.closeDrawer()">Link 3</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <router-outlet></router-outlet>
      </mdl-layout-content>
   </mdl-layout>
</div>
<br>
<button mdl-button (click)="mdlLayout1.toggleDrawer()" mdl-button-type="raised" mdl-colored="primary">Toggle Drawer</button>

<pre prism>
  <![CDATA[
<div class="demo-container demo-layout-transparent">
   <mdl-layout #mdlLayout1="mdlLayout">
      <mdl-layout-header mdl-layout-header-transparent>
         <mdl-layout-header-row>
            <mdl-layout-title>Title</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <nav class="mdl-navigation">
               <a class="mdl-navigation__link" [routerLink]="['/layout/l1']">Link 1</a>
               <a class="mdl-navigation__link" [routerLink]="['/layout/l2']">Link 2</a>
               <a class="mdl-navigation__link" [routerLink]="['/layout/l3']">Link 3</a>
            </nav>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>Title</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" [routerLink]="['/layout/l1']" (click)="mdlLayout1.closeDrawer()">Link 1</a>
            <a class="mdl-navigation__link" [routerLink]="['/layout/l2']" (click)="mdlLayout1.closeDrawer()">Link 2</a>
            <a class="mdl-navigation__link" [routerLink]="['/layout/l3']" (click)="mdlLayout1.closeDrawer()">Link 3</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <router-outlet></router-outlet>
      </mdl-layout-content>
   </mdl-layout>
</div>
<button mdl-button (click)="mdlLayout1.toggleDrawer()" mdl-button-type="raised" mdl-colored="primary">Toggle Drawer</button>
  ]]>
</pre>

<h6>Fixed drawer, no header</h6>

<div class="demo-container" mdl-shadow="2">
   <mdl-layout mdl-layout-fixed-drawer>
      <mdl-layout-drawer>
         <mdl-layout-title>Title</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" >Link</a>
            <a class="mdl-navigation__link" >Link</a>
            <a class="mdl-navigation__link" >Link</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
         The content.
      </mdl-layout-content>
   </mdl-layout>
</div>

<pre prism>
  <![CDATA[
<div class="demo-container" mdl-shadow="2">
   <mdl-layout mdl-layout-fixed-drawer>
      <mdl-layout-drawer>
         <mdl-layout-title>Title</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" >Link</a>
            <a class="mdl-navigation__link" >Link</a>
            <a class="mdl-navigation__link" >Link</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <!-- Your content goes here -->
      </mdl-layout-content>
   </mdl-layout>
</div>
  ]]>
</pre>

<h6>Fixed header</h6>
<p>Always shows a header, even in smaller screens.</p>
<p> mdl-layout-header-seamed removes the shadow</p>

<div class="demo-container" mdl-shadow="2">
   <mdl-layout mdl-layout-fixed-header  mdl-layout-header-seamed>
      <mdl-layout-header>
         <mdl-layout-header-row>
            <mdl-layout-title>Title</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
               <a class="mdl-navigation__link" >Link</a>
               <a class="mdl-navigation__link" >Link</a>
               <a class="mdl-navigation__link" >Link</a>
            </nav>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>Title</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" >Link</a>
            <a class="mdl-navigation__link" >Link</a>
            <a class="mdl-navigation__link" >Link</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <!-- Your content goes here -->
      </mdl-layout-content>
   </mdl-layout>
</div>

<pre prism>
  <![CDATA[
<div class="demo-container" mdl-shadow="2">
   <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
      <mdl-layout-header>
         <mdl-layout-header-row>
            <mdl-layout-title>Title</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
               <a class="mdl-navigation__link" >Link</a>
               <a class="mdl-navigation__link" >Link</a>
               <a class="mdl-navigation__link" >Link</a>
            </nav>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>Title</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" >Link</a>
            <a class="mdl-navigation__link" >Link</a>
            <a class="mdl-navigation__link" >Link</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <!-- Your content goes here -->
      </mdl-layout-content>
   </mdl-layout>
</div>
  ]]>
</pre>

<h6>Fixed header and drawer</h6>
<p>The drawer is always open in large screens. The header is always shown, even in small screens.</p>

<div class="demo-container" mdl-shadow="2">
   <mdl-layout mdl-layout-fixed-header mdl-layout-fixed-drawer>
      <mdl-layout-header>
         <mdl-layout-header-row>
            <mdl-layout-title>Title</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
               <a class="mdl-navigation__link" >Link</a>
               <a class="mdl-navigation__link" >Link</a>
               <a class="mdl-navigation__link" >Link</a>
            </nav>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>Title</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" >Link</a>
            <a class="mdl-navigation__link" >Link</a>
            <a class="mdl-navigation__link" >Link</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <!-- Your content goes here -->
      </mdl-layout-content>
   </mdl-layout>
</div>

<pre prism>
  <![CDATA[
<mdl-layout mdl-layout-fixed-header mdl-layout-fixed-drawer>
   ...
</mdl-layout>
  ]]>
</pre>

<h6>Scrolling header</h6>
<p> Uses a header that scrolls with the text, rather than staying locked at the top</p>

<div class="demo-container" mdl-shadow="2">
   <mdl-layout mdl-layout-mode="scroll">
      <mdl-layout-header>
         <mdl-layout-header-row>
            <mdl-layout-title>Title</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <nav class="mdl-navigation">
               <a class="mdl-navigation__link" >Link</a>
               <a class="mdl-navigation__link" >Link</a>
               <a class="mdl-navigation__link" >Link</a>
            </nav>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>Title</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" >Link</a>
            <a class="mdl-navigation__link" >Link</a>
            <a class="mdl-navigation__link" >Link</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <div class="page-content"><!-- Your content goes here --></div>
      </mdl-layout-content>
   </mdl-layout>
</div>

<pre prism>
  <![CDATA[
<mdl-layout mdl-layout-mode="scroll">
   ...
</mdl-layout>
  ]]>
</pre>

<h6>Waterfall header</h6>
<p>Uses a header that contracts as the page scrolls down.</p>

<div class="demo-container" mdl-shadow="2">
   <mdl-layout mdl-layout-mode="waterfall">
      <mdl-layout-header>
         <!-- Top row, always visible -->
         <mdl-layout-header-row>
            <!-- Title -->
            <mdl-layout-title>Title</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <mdl-textfield type="text" icon="search"></mdl-textfield>
         </mdl-layout-header-row>
         <!-- Bottom row, not visible on scroll -->
         <mdl-layout-header-row>
            <mdl-layout-spacer></mdl-layout-spacer>
            <!-- Navigation -->
            <nav class="mdl-navigation">
               <a class="mdl-navigation__link" >Link</a>
               <a class="mdl-navigation__link" >Link</a>
               <a class="mdl-navigation__link" >Link</a>
            </nav>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>Title</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" >Link</a>
            <a class="mdl-navigation__link" >Link</a>
            <a class="mdl-navigation__link" >Link</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <div class="page-content"><!-- Your content goes here --></div>
      </mdl-layout-content>
   </mdl-layout>
</div>

<pre prism>
  <![CDATA[
<mdl-layout mdl-layout-mode="waterfall">
   ...
</mdl-layout>
  ]]>
</pre>

<h6>Fixed tabs</h6>

<div class="demo-container" mdl-shadow="2">
   <mdl-layout mdl-layout-fixed-header
               [mdl-layout-tab-active-index]="activeIndex"
               (mdl-layout-tab-active-changed)="tabChanged($event)"
               (mdl-layout-tab-mouseover)="tabMouseover($event)"
               (mdl-layout-tab-mouseout)="tabMouseout($event)">
      <mdl-layout-header>
         <mdl-layout-header-row>
          <mdl-layout-title>Title</mdl-layout-title>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>Title</mdl-layout-title>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <mdl-layout-tab-panel>
            <mdl-tab-panel-title>
              <mdl-icon class="mdl-color-text--accent">person</mdl-icon><span>Tab 1</span>
					 </mdl-tab-panel-title>
					 <mdl-tab-panel-content>
						 1
					 </mdl-tab-panel-content>
         </mdl-layout-tab-panel>
         <mdl-layout-tab-panel mdl-layout-tab-panel-title="Tab 2">
            2
         </mdl-layout-tab-panel>
         <mdl-layout-tab-panel mdl-layout-tab-panel-title="Tab 3">
            3
         </mdl-layout-tab-panel>
      </mdl-layout-content>
   </mdl-layout>
</div>

active index:
<input type="number" [(ngModel)]="activeIndex" min="0" max="2">

<pre prism>
  <![CDATA[
<div class="demo-container" mdl-shadow="2">
   <mdl-layout mdl-layout-fixed-header mdl-layout-tab-active-index="0" (mdl-layout-tab-active-changed)="tabChanged($event)">
      <mdl-layout-header>
         <mdl-layout-header-row>
            <mdl-layout-title>Title</mdl-layout-title>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>Title</mdl-layout-title>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <mdl-layout-tab-panel>
					<mdl-tab-panel-title>
						<mdl-icon class="mdl-color-text--primary">person</mdl-icon><span>Tab 1</span>
					</mdl-tab-panel-title>
					<mdl-tab-panel-content>
						1
					</mdl-tab-panel-content>
         </mdl-layout-tab-panel>
         <mdl-layout-tab-panel mdl-layout-tab-panel-title="Tab 2">
            2
         </mdl-layout-tab-panel>
         <mdl-layout-tab-panel mdl-layout-tab-panel-title="Tab 3">
            3
         </mdl-layout-tab-panel>
      </mdl-layout-content>
   </mdl-layout>
</div>
  ]]>
</pre>

<h5>Grid</h5>

Please visit the original <a href="https://getmdl.io/components/index.html#layout-section/grid" target="mdl-docu">material lite documentation</a> how to use the grid system.



<h5>Footer</h5>

Please visit the original <a href="https://getmdl.io/components/index.html#layout-section/footer" target="mdl-docu">material lite documentation</a> how to create footers.


<h4>Layout-Components</h4>
<table class="docu" mdl-shadow="2">
   <thead>
   <tr>
      <th>Component</th>
      <th>Description</th>
   </tr>
   </thead>
   <tbody>
   <tr>
      <td>
         mdl-layout
      </td>
      <td>
         Parent component for a mdl layout. Needs the child components <i>mdl-layout-header</i> (optional),
         <i>mdl-layout-drawer</i> (optional) and  mdl-layout-content.<br/>
         The layout is exportted as mdlLayout in the view. The methods <i>toggleDrawer</i> and <i>closeDrawer</i>
         are exported.
      </td>
   </tr>

   <tr>
     <td>mdl-layout-drawer</td>
     <td>The drawer of the layout. If present a button that toggles the drawer is automatically created. </td>
   </tr>

   <tr>
      <td>mdl-layout-header</td>
      <td>The header component of a layout. May contain multiple <i>mdl-layout-header-row</i> directives.</td>
   </tr>

   <tr>
      <td>mdl-layout-header-row</td>
      <td></td>
   </tr>

   <tr>
     <td>mdl-layout-spacer</td>
     <td>Components that creates a spacer - e.g. a flex-grow:1 div to occupy much space as possible between components.</td>
   </tr>

   <tr>
     <td>mdl-layout-tab-panel</td>
     <td>A component within the <i>mdl.layout-content</i> that will be used as the tab content.
       The tabs are created automatically and are placed in the provided <i>mdl-layout-header</i>.
     </td>
   </tr>

   <tr>
      <td>mdl-layout-title</td>
      <td>Component that specifies the title with a <i>mdl-layout-header-row</i>.</td>
   </tr>

   </tbody>
</table>

<h5>Layout-Component Attributes</h5>
<table class="docu" mdl-shadow="2">
   <thead>
   <tr>
      <th>Attribute</th>
      <th>Description</th>
   </tr>
   </thead>
   <tbody>
   <tr>
      <td>
         mdl-layout-mode
      </td>
      <td>
         The following modes are supported
         <ul>
            <li><i>standard</i> no special handling for the header.</li>
            <li><i>waterfall</i> If the content scrolls the header will be reduced to one row
            if the header consists of multiple header rows.</li>
            <li><i>scroll</i> The header scrolls with the content. e.g. is not fixed to the top.</li>
         </ul>
      </td>
   </tr>
   <tr>
      <td>mdl-layout-fixed-drawer</td>
      <td>
         The drawer is fixed - e.g. is always open
      </td>
   </tr>
   <tr>
     <td>mdl-layout-fixed-header</td>
     <td>The header is fixed - e.g. is always visible even on small screens (less than 1024px width)</td>
   </tr>
   <tr>
     <td>mdl-layout-header-seamed</td>
     <td>The header has a drop shadow</td>
   </tr>
   <tr>
      <td>mdl-layout-no-drawer-button</td>
      <td>If the layout contains a <i>mdl-layout-drawer</i> a button is rendered at the header to toggle the drawer.
         If <i>mdl-layout-no-drawer-button</i> is present this button will not be drawn to the view.</td>
   </tr>

   <tr>
      <td>mdl-layout-tab-active-changed</td>
      <td>Event-listener function that will be fired if the activ tab index changed. The changed index
         is stored in the <i>index</i> property of the event object.</td>
   </tr>
   <tr>
     <td>mdl-layout-tab-active-index</td>
     <td>Secifies the index of the active tab. Needs
       <i>mdl-layout-tab-panel</i> components within the <i>mdl-layout-content</i>.</td>
   </tr>

   <tr>
    <td>mdl-layout-tab-mouseout</td>
    <td>Event-listener function that will be fired if the mouse is over a tab. The index
     is stored in the <i>index</i> property of the event object.</td>
   </tr>

   <tr>
    <td>mdl-layout-tab-mouseover</td>
    <td>Event-listener function that will be fired if the mouse is out of a tab. The index
      is stored in the <i>index</i> property of the event object.</td>
   </tr>

   <tr>
      <td>mdl-ripple</td>
      <td>BooleanProperty. If present or true the tabs will ripple on click or tap.</td>
   </tr>

   </tbody>
</table>


<h5>Layout-Header-Component Attributes</h5>

<table class="docu" mdl-shadow="2">
   <thead>
   <tr>
      <th>Attribute</th>
      <th>Description</th>
   </tr>
   </thead>
   <tbody>

   <tr>
      <td>mdl-layout-header-transparent</td>
      <td>
         Creates a header with no background color.
      </td>
   </tr>

   </tbody>
</table>


<h5>Layout-Tab-Panel-Component Attributes</h5>

<table class="docu" mdl-shadow="2">
   <thead>
   <tr>
      <th>Attribute</th>
      <th>Description</th>
   </tr>
   </thead>
   <tbody>

   <tr>
      <td>mdl-layout-tab-panel-title</td>
      <td>
         The content of this attribute is used to create the tab title.
      </td>
   </tr>

   </tbody>
</table>



