<h4>Popover</h4>

<button
    mdl-button
    #btn1="mdlButton"
    (click)="p1.toggle($event, btn1)"
    mdl-button-type="icon"
    mdl-ripple>
  <mdl-icon>more_vert</mdl-icon>
</button>

<mdl-popover #p1 mdl-menu-position="bottom-left">
  <mdl-card mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Welcome</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <button mdl-button mdl-colored mdl-ripple (click)="action('action 1')">
        Action 1
      </button>
      <button mdl-button mdl-colored mdl-ripple (click)="action('action 2')">
        Action 2
      </button>
    </mdl-card-actions>
  </mdl-card>
</mdl-popover>

<div style="width: 50%;">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Ut sed nulla commodo, dignissim magna quis, tristique turpis.
</div>

<mdl-textfield
    #textfield1
    (click)="p2.toggle($event, textfield1)"
    type="text"
    label="Text..."
    [(ngModel)]="option1"
    placeholder="select"></mdl-textfield>

<mdl-popover #p2 mdl-menu-position="bottom-left" hide-on-click="true">
  <mdl-card mdl-shadow="2">
    <mdl-list>
      <mdl-list-item mdl-ripple (click)="action('Bryan Cranston')">
        <mdl-list-item-primary-content>
          Bryan Cranston
        </mdl-list-item-primary-content>
      </mdl-list-item>
      <mdl-list-item  mdl-ripple (click)="action('Aaron Paul')">
        <mdl-list-item-primary-content>
          Aaron Paul
        </mdl-list-item-primary-content>
      </mdl-list-item>
      <mdl-list-item  mdl-ripple (click)="action('Bob Odenkirk')">
        <mdl-list-item-primary-content>
          Bob Odenkirk
        </mdl-list-item-primary-content>
      </mdl-list-item>
    </mdl-list>
  </mdl-card>
</mdl-popover>

<div style="width: 50%;">
  Quisque euismod, leo vel egestas convallis, risus
  lacus tempor magna, nec volutpat odio neque ac ipsum.
  Nam ac dui eu odio fermentum faucibus sit amet efficitur elit.
</div>
