<h4>The Buttons</h4>

<!-- Colored FAB button -->
<button mdl-button mdl-button-type="fab" mdl-colored="accent">
  <mdl-icon>add</mdl-icon>
</button>

<!-- Colored FAB button with ripple -->
<button mdl-button mdl-button-type="fab" mdl-colored="accent" mdl-ripple>
  <mdl-icon>add</mdl-icon>
</button>


<pre demoPrism>
  <![CDATA[
  <!-- Colored FAB button -->
  <button mdl-button mdl-button-type="fab" mdl-colored="accent">
    <mdl-icon>add</mdl-icon>
  </button>

  <!-- Colored FAB button with ripple -->
  <button mdl-button mdl-button-type="fab" mdl-colored="accent" mdl-ripple>
    <mdl-icon>add</mdl-icon>
  </button>
  ]]>
</pre>


<!-- FAB button -->
<button mdl-button mdl-button-type="fab">
  <mdl-icon>add</mdl-icon>
</button>
<!-- FAB button with ripple -->
<button mdl-button mdl-button-type="fab" mdl-ripple>
  <mdl-icon>add</mdl-icon>
</button>
<!-- Disabled FAB button -->
<button disabled mdl-button mdl-button-type="fab">
  <mdl-icon>add</mdl-icon>
</button>

<pre demoPrism>
  <![CDATA[
  <!-- FAB button -->
  <button mdl-button mdl-button-type="fab">
    <mdl-icon>add</mdl-icon>
  </button>
  <!-- FAB button with ripple -->
  <button mdl-button mdl-button-type="fab" mdl-ripple>
    <mdl-icon>add</mdl-icon>
  </button>
  <!-- Disabled FAB button -->
  <button disabled mdl-button mdl-button-type="fab">
    <mdl-icon>add</mdl-icon>
  </button>
  ]]>
</pre>

<!-- Raised button -->
<button mdl-button mdl-button-type="raised">
  Button
</button>
<!-- Raised button with ripple -->
<button mdl-button mdl-button-type="raised" mdl-ripple>
  Button
</button>
<!-- Raised disabled button-->
<button disabled mdl-button mdl-button-type="raised">
  Button
</button>

<button [disabled]="btnDisabled" mdl-button mdl-button-type="raised">
  Button
</button>

<mdl-checkbox [(ngModel)]="btnDisabled" mdl-ripple>Disable Button</mdl-checkbox>

<pre demoPrism>
  <![CDATA[
  <!-- Raised button -->
  <button mdl-button mdl-button-type="raised">
    Button
  </button>
  <!-- Raised button with ripple -->
  <button mdl-button mdl-button-type="raised" mdl-ripple>
    Button
  </button>
  <!-- Raised disabled button -->
  <button disabled mdl-button mdl-button-type="raised">
    Button
  </button>

	<button [disabled]="btnDisabled" mdl-button mdl-button-type="raised">
		Button
	</button>
  ]]>
</pre>

<!-- Colored raised button -->
<button mdl-button mdl-button-type="raised" mdl-colored>
  Button
</button>
<!-- Accent-colored raised button -->
<button mdl-button mdl-button-type="raised" mdl-colored="accent">
  Button
</button>
<!-- Accent-colored raised button with ripple -->
<button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
  Button
</button>

<pre demoPrism>
  <![CDATA[
  <!-- Colored raised button -->
  <button mdl-button mdl-button-type="raised" mdl-colored>
    Button
  </button>
  <!-- Accent-colored raised button -->
  <button mdl-button mdl-button-type="raised" mdl-colored="accent">
    Button
  </button>
  <!-- Accent-colored raised button with ripple -->
  <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
    Button
  </button>
  ]]>
</pre>

<!-- Flat button -->
<button mdl-button>
  Button
</button>
<!-- Flat button with ripple -->
<button mdl-button mdl-ripple>
  Button
</button>
<!-- Disabled flat button -->
<button disabled mdl-button mdl-ripple>
  Button
</button>

<pre demoPrism>
  <![CDATA[
  <!-- Flat button -->
  <button mdl-button>
    Button
  </button>
  <!-- Flat button with ripple -->
  <button mdl-button mdl-ripple>
    Button
  </button>
  Disabled flat button
  <button disabled mdl-button mdl-ripple>
    Button
  </button>
  ]]>
</pre>

<!-- Primary-colored flat button -->
<button mdl-button mdl-colored="primary">
  Button
</button>
<!-- Accent-colored flat button -->
<button mdl-button mdl-colored="accent">
  Button
</button>

<pre demoPrism>
  <![CDATA[
  <!-- Primary-colored flat button -->
  <button mdl-button mdl-colored="primary">
    Button
  </button>
  <!-- Accent-colored flat button -->
  <button mdl-button mdl-colored="accent">
    Button
  </button>
  ]]>
</pre>

<!-- Icon button -->
<button mdl-button mdl-button-type="icon">
  <mdl-icon>mood</mdl-icon>
</button>
<!-- Colored icon button -->
<button mdl-button mdl-button-type="icon" mdl-colored="primary">
  <mdl-icon>mood</mdl-icon>
</button>

<pre demoPrism>
  <![CDATA[
  <!-- Icon button -->
  <button mdl-button mdl-button-type="icon">
    <mdl-icon>mood</mdl-icon>
  </button>
  <!-- Colored icon button -->
  <button mdl-button mdl-button-type="icon" mdl-colored="primary">
    <mdl-icon>mood</mdl-icon>
  </button>
  ]]>
</pre>

<!-- Mini FAB button -->
<button mdl-button mdl-button-type="mini-fab">
  <mdl-icon>add</mdl-icon>
</button>
<!-- Colored mini FAB button -->
<button mdl-button mdl-button-type="mini-fab" mdl-colored="primary">
  <mdl-icon>add</mdl-icon>
</button>

<pre demoPrism>
  <![CDATA[
  <!-- Mini FAB button -->
  <button mdl-button mdl-button-type="mini-fab">
    <mdl-icon>add</mdl-icon>
  </button>
  <!-- Colored mini FAB button -->
  <button mdl-button mdl-button-type="mini-fab" mdl-colored="primary">
    <mdl-icon>add</mdl-icon>
  </button>
  ]]>
</pre>

<h4>Dynamic experiments</h4>

<div>
  <div>
    <mdl-radio [(ngModel)]="buttonType" name="buttonType" value="raised">Raised</mdl-radio>
    <mdl-radio [(ngModel)]="buttonType" name="buttonType" value="fab">Fab</mdl-radio>
    <mdl-radio [(ngModel)]="buttonType" name="buttonType" value="mini-fab">Mini</mdl-radio>
    <mdl-radio [(ngModel)]="buttonType" name="buttonType" value="icon">Icon</mdl-radio>
    <mdl-radio [(ngModel)]="buttonType" name="buttonType" value="">Default</mdl-radio>
  </div>
  <div>
    <mdl-checkbox [(ngModel)]="doRipple" mdl-ripple>Ripple effect active?</mdl-checkbox>
  </div>
  <div>
    <mdl-radio [(ngModel)]="colored" name="coloredType" value="">None</mdl-radio>
    <mdl-radio [(ngModel)]="colored" name="coloredType" value="accent">Accent</mdl-radio>
    <mdl-radio [(ngModel)]="colored" name="coloredType" value="primary">Primary</mdl-radio>
  </div>

  <button [mdl-button-type]="buttonType" [mdl-colored]="colored" [mdl-ripple]="doRipple" mdl-button>
    <mdl-icon>add</mdl-icon>
  </button>

</div>

<div>
  <h5>Usage as component</h5>
  <p>
    The <i>mdl-buttob</i> directive can also be used as a component. But in this case you are loosing the
    default html button behavior.
  </p>
  <mdl-button mdl-button-type="fab" mdl-ripple>
    <mdl-icon>add</mdl-icon>
  </mdl-button>

  <pre demoPrism>
  <![CDATA[
  <mdl-button mdl-button-type="fab" mdl-ripple>
    <mdl-icon>add</mdl-icon>
  </mdl-button>
  ]]>
</pre>
</div>

<h4>Attributes for component mdl-button and buttons with mdl-button directive on it.</h4>
<table class="docu" mdl-shadow="2">
  <thead>
  <tr>
    <th>Attribute</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td>disabled</td>
    <td>
      <i>disabled</i> is a BooleanProperty - e.g. if present or value is true the button is disabled.
      If not present or the value is false the button is not disabled.
    </td>
  </tr>

  <tr>
    <td>mdl-button-type</td>
    <td>
      Specifies how the button is rendered. Supported values:
      <ul>
        <li>raised</li>
        <li>fab</li>
        <li>mini-fab</li>
        <li>icon</li>
      </ul>
    </td>
  </tr>

  <tr>
    <td>mdl-colored</td>
    <td>
      Specifies wether the botton is colored and how the button is colored.
      <ul>
        <li>if no value is provided the button has no color.</li>
        <li>if <i>accent</i> is provided as value. The accent color is used to color the button</li>
        <li>if <i>primary</i> is provided as value. The primary color is used to color the button</li>
      </ul>
    </td>
  </tr>

  <tr>
    <td>mdl-ripple</td>
    <td>
      <i>mdl-ripple</i> is a BooleanProperty - e.g. if present or value is true the ripple effect is active.
      If not present or the value is false the ripple effect isn't active.
    </td>
  </tr>

  </tbody>

</table>


