<h4>The Cards</h4>

<mdl-card class="demo-card-wide" mdl-shadow="2">
  <mdl-card-title>
    <h2 mdl-card-title-text>Welcome</h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...
  </mdl-card-supporting-text>
  <mdl-card-actions class="mdl-card--border">
    <button mdl-button mdl-colored mdl-ripple>Get Started</button>
  </mdl-card-actions>
  <mdl-card-menu>
    <button mdl-button="icon" mdl-ripple><i class="material-icons">share</i></button>
  </mdl-card-menu>
</mdl-card>

<prism style="float:right">
  <mdl-card mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Welcome</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </mdl-card-supporting-text>
    <mdl-card-actions class="mdl-card--border">
      <button mdl-button mdl-colored mdl-ripple>Get Started</button>
    </mdl-card-actions>
    <mdl-card-menu>
      <button mdl-button="icon" mdl-ripple>
        <i class="material-icons">share</i>
      </button>
    </mdl-card-menu>
  </mdl-card>

</prism>

<div style="clear: both"></div>
