<h4>The Cards</h4>

<mdl-card class="demo-card-wide" mdl-shadow="2">
  <mdl-card-title>
    <h2 mdl-card-title-text>Welcome</h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...
  </mdl-card-supporting-text>
  <mdl-card-actions mdl-card-border>
    <mdl-button mdl-colored mdl-ripple>Get Started</mdl-button>
  </mdl-card-actions>
  <mdl-card-menu>
    <mdl-button mdl-button-type="icon" mdl-ripple><mdl-icon>share</mdl-icon></mdl-button>
  </mdl-card-menu>
</mdl-card>

<pre prism>
  <![CDATA[
  <mdl-card mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Welcome</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <mdl-button mdl-colored mdl-ripple>Get Started</mdl-button>
    </mdl-card-actions>
    <mdl-card-menu>
      <mdl-button mdl-button-type="icon" mdl-ripple>
        <mdl-icon>share</mdl-icon>
      </mdl-button>
    </mdl-card-menu>
  </mdl-card>
  ]]>
</pre>

<div class="example-separator"></div>

<mdl-card class="demo-card-square" mdl-shadow="2">
  <mdl-card-title mdl-card-expand>
    <h2 mdl-card-title-text="">Update</h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenan convallis.
  </mdl-card-supporting-text>
  <mdl-card-actions mdl-card-border>
    <mdl-button  mdl-colored mdl-ripple>
      View Updates
    </mdl-button>
  </mdl-card-actions>
</mdl-card>

<pre prism>
  <![CDATA[
  <mdl-card class="demo-card-square" mdl-shadow="2">
    <mdl-card-title mdl-card-expand>
      <h2 mdl-card-title-text="">Update</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aenan convallis.
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <mdl-button mdl-colored mdl-ripple>
        View Updates
      </mdl-button>
    </mdl-card-actions>
  </mdl-card>
  ]]>
</pre>

<div class="example-separator"></div>

<mdl-card class="demo-card-image" mdl-shadow="2">
  <mdl-card-title mdl-card-expand></mdl-card-title>
  <mdl-card-actions>
    <span class="demo-card-image__filename">Image.jpg</span>
  </mdl-card-actions>
</mdl-card>

<pre prism>
  <![CDATA[
  <mdl-card class="demo-card-image" mdl-shadow="2">
    <mdl-card-title mdl-card-expand></mdl-card-title>
    <mdl-card-actions>
      <span class="demo-card-image__filename">Image.jpg</span>
    </mdl-card-actions>
  </mdl-card>
  ]]>
</pre>


<div class="example-separator"></div>

<mdl-card class="demo-card-event" mdl-shadow="2">
  <mdl-card-title mdl-card-expand>
    <h4>
       Unwind! Relax! Breathe!<br>
       You deserve a holiday
    </h4>
  </mdl-card-title>
  <mdl-card-actions mdl-card-border>
    <mdl-button mdl-colored mdl-ripple (click)="booknow()">
      Book now
    </mdl-button>
    <div class="mdl-layout-spacer"></div>
    <mdl-icon>event</mdl-icon>
  </mdl-card-actions>
</mdl-card>

<pre prism>
  <![CDATA[
  <mdl-card class="demo-card-event" mdl-shadow="2">
    <mdl-card-title mdl-card-expand>
 <h4>
       Unwind! Relax! Breathe!<br>
       You deserve a holiday
    </h4>
    </mdl-card-title>
    <mdl-card-actions mdl-card-border>
      <mdl-button mdl-colored mdl-ripple (click)="booknow()">
      Book now
    </mdl-button>
      <div class="mdl-layout-spacer"></div>
      <mdl-icon>event</mdl-icon>
    </mdl-card-actions>
  </mdl-card>
  ]]>
</pre>

<!-- playground for booking to check the correct image  -->
<ins style="display:none;" class="bookingaff" data-aid="818142" data-target_aid="818140" data-prod="banner" data-width="200" data-height="200" data-banner_id="30746">
   <!-- Anything inside will go away once widget is loaded. -->
   <a href="//www.booking.com?aid=818140">Booking.com</a>
</ins>

