<h4>The Cards</h4>

<mdl-card class="demo-card-wide" mdl-shadow="2">
  <mdl-card-title>
    <h2 mdl-card-title-text>Welcome</h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...
  </mdl-card-supporting-text>
  <mdl-card-actions mdl-card-border>
    <button mdl-button mdl-colored mdl-ripple>Get Started</button>
  </mdl-card-actions>
  <mdl-card-menu>
    <button mdl-button="icon" mdl-ripple><mdl-icon>share</mdl-icon></button>
  </mdl-card-menu>
</mdl-card>

<prism style="float:right">
  <mdl-card mdl-shadow="2">
    <mdl-card-title>
      <h2 mdl-card-title-text>Welcome</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <button mdl-button mdl-colored mdl-ripple>Get Started</button>
    </mdl-card-actions>
    <mdl-card-menu>
      <button mdl-button="icon" mdl-ripple>
        <i class="material-icons">share</i>
      </button>
    </mdl-card-menu>
  </mdl-card>

</prism>

<div class="example-separator"></div>

<mdl-card class="demo-card-square" mdl-shadow="2">
  <mdl-card-title mdl-card-expand>
    <h2 mdl-card-title-text="">Update</h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenan convallis.
  </mdl-card-supporting-text>
  <mdl-card-actions mdl-card-border>
    <button mdl-button mdl-colored mdl-ripple>
      View Updates
    </button>
  </mdl-card-actions>
</mdl-card>

<prism style="float:right">
  <mdl-card class="demo-card-square" mdl-shadow="2">
    <mdl-card-title mdl-card-expand>
      <h2 mdl-card-title-text="">Update</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aenan convallis.
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <button mdl-button mdl-colored mdl-ripple>
        View Updates
      </button>
    </mdl-card-actions>
  </mdl-card>
</prism>

<div class="example-separator"></div>

<mdl-card class="demo-card-image" mdl-shadow="2">
  <mdl-card-title mdl-card-expand></mdl-card-title>
  <mdl-card-actions>
    <span class="demo-card-image__filename">Image.jpg</span>
  </mdl-card-actions>
</mdl-card>

<prism style="float:right">
  <mdl-card class="demo-card-image" mdl-shadow="2">
    <mdl-card-title mdl-card-expand></mdl-card-title>
    <mdl-card-actions>
      <span class="demo-card-image__filename">Image.jpg</span>
    </mdl-card-actions>
  </mdl-card>
</prism>


<div class="example-separator"></div>

<mdl-card class="demo-card-event" mdl-shadow="2">
  <mdl-card-title mdl-card-expand>
    <h4>
      Featured event:<br>
      May 24, 2016<br>
      7-11pm
    </h4>
  </mdl-card-title>
  <mdl-card-actions mdl-card-border>
    <button mdl-button mdl-colored mdl-ripple>
      Add to Calendar
    </button>
    <div class="mdl-layout-spacer"></div>
    <mdl-icon>event</mdl-icon>
  </mdl-card-actions>
</mdl-card>

<prism style="float:right">
  <mdl-card class="demo-card-event" mdl-shadow="2">
    <mdl-card-title mdl-card-expand>
      <h4>
        Featured event:<br>
        May 24, 2016<br>
        7-11pm
      </h4>
    </mdl-card-title>
    <mdl-card-actions mdl-card-border>
      <button mdl-button mdl-colored mdl-ripple>
        Add to Calendar
      </button>
      <div class="mdl-layout-spacer"></div>
      <mdl-icon>event</mdl-icon>
    </mdl-card-actions>
  </mdl-card>
</prism>
