<h4>The Toggles </h4>

<h5>Checkbox</h5>

<mdl-checkbox name="checkbox1" [mdl-ripple]="true" [(ngModel)]="checkbox1">
  Checkbox
</mdl-checkbox>
{{checkbox1}}

<pre prism>
  <![CDATA[
  <mdl-checkbox name="checkbox1" [mdl-ripple]="true" [(ngModel)]="checkbox1">
    Checkbox
  </mdl-checkbox>
  {x{checkbox1}}
  ]]>
</pre>

<mdl-checkbox name="checkbox2" [(ngModel)]="checkbox2">
  Checkbox
</mdl-checkbox>
{{checkbox2}}
<pre prism>
  <![CDATA[
  <mdl-checkbox name="checkbox2" [(ngModel)]="checkbox2">
    Checkbox
  </mdl-checkbox>
  {x{checkbox2}}
    ]]>
</pre>

<h5>Radios</h5>
<mdl-radio name="group1" value="1" [(ngModel)]="radioOption" mdl-ripple>Value 1</mdl-radio>
<mdl-radio name="group1" value="2" [(ngModel)]="radioOption" mdl-ripple>Value 2</mdl-radio>

{{radioOption}}

<pre prism>
  <![CDATA[
  <mdl-radio name="group1" value="1" [(ngModel)]="radioOption" mdl-ripple>Value 1</mdl-radio>
  <mdl-radio name="group1" value="2" [(ngModel)]="radioOption" mdl-ripple>Value 2</mdl-radio>

  {x{radioOption}}
  ]]>
</pre>

<h5>Icon Toggle</h5>

<mdl-icon-toggle  [(ngModel)]="checkbox1">format_bold</mdl-icon-toggle>
{{checkbox1}}
<mdl-icon-toggle  [(ngModel)]="checkbox2">format_italic</mdl-icon-toggle>
{{checkbox2}}

<pre prism>
  <![CDATA[
  <mdl-icon-toggle  [(ngModel)]="checkbox1">format_bold</mdl-icon-toggle>
  {x{checkbox1}}
  <mdl-icon-toggle  [(ngModel)]="checkbox2">format_italic</mdl-icon-toggle>
  {x{checkbox2}}
  ]]>
</pre>
