<h4>The Toggles </h4>

<h5>Checkbox</h5>

<mdl-checkbox  [mdl-ripple]="true" [(ngModel)]="checkbox1" (change)="onChange($event)">
  Checkbox
</mdl-checkbox>
{{checkbox1}}

<mdl-checkbox  [mdl-ripple]="true" [disabled]="true" [(ngModel)]="checkbox1" (change)="onChange($event)">
  Checkbox Disabled
</mdl-checkbox>

<pre prism ngNonBindable>
  <![CDATA[
  <mdl-checkbox [mdl-ripple]="true" [(ngModel)]="checkbox1">
    Checkbox
  </mdl-checkbox>
  {{checkbox1}}
  ]]>
</pre>

<mdl-checkbox [(ngModel)]="checkbox2">
  Checkbox
</mdl-checkbox>
{{checkbox2}}
<pre prism ngNonBindable>
  <![CDATA[
  <mdl-checkbox [(ngModel)]="checkbox2">
    Checkbox
  </mdl-checkbox>
  {{checkbox2}}
    ]]>
</pre>

<p>The <i>mdl-checkbox</i> is <i>ngModel</i> compliant. You can provide the <i>mdl-ripple</i> directive to create a ripple effect.</p>


<h5>Radios</h5>
<mdl-radio name="group1" value="1"  [(ngModel)]="radioOption" mdl-ripple (change)="onChange($event)">Value 1</mdl-radio>
<mdl-radio name="group1" value="2" [(ngModel)]="radioOption" mdl-ripple (change)="onChange($event)">Value 2</mdl-radio>
<mdl-radio name="group1" value="3" [disabled]="true"  [(ngModel)]="radioOption" mdl-ripple (change)="onChange($event)">Value 3 (disabled)</mdl-radio>

{{radioOption}}

<pre prism ngNonBindable>
  <![CDATA[
  <mdl-radio name="group1" value="1" [(ngModel)]="radioOption" mdl-ripple>Value 1</mdl-radio>
  <mdl-radio name="group1" value="2" [(ngModel)]="radioOption" mdl-ripple>Value 2</mdl-radio>
  <mdl-radio name="group1" value="3" [disabled]="true"  [(ngModel)]="radioOption" mdl-ripple>Value 3 (disabled)</mdl-radio>

  {{radioOption}}
  ]]>
</pre>

<p>The <i>mdl-radio</i> component is <i>ngModel</i> compliant.
  The <i>name</i> attribute is used to group radios together. You need to provide a
  name or a formControlName. If you provide both they must be the same. All radiobutton
  groups must have a unique name.
The <i>value</i> is used to set the <i>ngModel</i> value if the option is selected.
   You can provide the <i>mdl-ripple</i> directive to create a ripple effect.
</p>

<h5>Icon Toggle</h5>

<mdl-icon-toggle  [(ngModel)]="checkbox1" mdl-ripple (change)="onChange($event)">format_bold</mdl-icon-toggle>
{{checkbox1}}
<mdl-icon-toggle  [(ngModel)]="checkbox2">format_italic</mdl-icon-toggle>
{{checkbox2}}
<mdl-icon-toggle  [(ngModel)]="checkbox2" [disabled]="true">format_italic</mdl-icon-toggle>
(disabled) {{checkbox2}}

<pre prism ngNonBindable>
  <![CDATA[
  <mdl-icon-toggle  [(ngModel)]="checkbox1">format_bold</mdl-icon-toggle>
  {{checkbox1}}
  <mdl-icon-toggle  [(ngModel)]="checkbox2">format_italic</mdl-icon-toggle>
  {{checkbox2}}
  <mdl-icon-toggle  [(ngModel)]="checkbox2" [disabled]="true">format_italic</mdl-icon-toggle>
  (disabled) {{checkbox2}}
  ]]>
</pre>

<p>The <i>mdl-icon-toggle</i> is much like a <i>mdl-checkbox</i> componnet.
   The only difference: an colored icon is used to cover the state of the checkbox.</p>

<h5>Switch</h5>

<mdl-switch [(ngModel)]="checkbox1" mdl-ripple (change)="onChange($event)">Option 1</mdl-switch>
{{checkbox1}}
<mdl-switch  [(ngModel)]="checkbox2">Option 2</mdl-switch>
{{checkbox2}}
<mdl-switch  [(ngModel)]="checkbox2" [disabled]="true">Option 3 (disabled)</mdl-switch>
{{checkbox2}}

<pre prism ngNonBindable>
  <![CDATA[
  <mdl-switch [(ngModel)]="checkbox1" mdl-ripple>Option 1</mdl-switch>
  {{checkbox1}}
  <mdl-switch  [(ngModel)]="checkbox2">Option 2</mdl-switch>
  {{checkbox2}}
  <mdl-switch  [(ngModel)]="checkbox2" [disabled]="true">Option 3 (disabled)</mdl-switch>
  {{checkbox2}}
  ]]>
</pre>

<p>The <i>mdl-switch</i> is much like an <i>mdl-checkbox</i> componnet.
   The only difference: an toggle ui is used to cover the state of the checkbox.</p>
