@import "color-definitions";

$color-primary: $palette-blue-500 !default;
$color-primary-dark: $palette-blue-700 !default;
$color-accent: $palette-amber-A200 !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;

@import 'material-design-lite';


.router-outlet, .navigation {
  margin: 1rem;
}

