<h4>The Tabs </h4>

<div>
	active index:
	<input type="number" [(ngModel)]="activeIndex" min="0" max="2">
</div>
<div class="demo-tab-container">
	<mdl-tabs mdl-ripple [mdl-tab-active-index]="activeIndex" (mdl-tab-active-changed)="tabChanged($event)">
		<mdl-tab-panel mdl-tab-panel-title="Starks">
			<ul>
				<li>Eddard</li>
				<li>Catelyn</li>
				<li>Robb</li>
				<li>Sansa</li>
				<li>Brandon</li>
				<li>Arya</li>
				<li>Rickon</li>
			</ul>
		</mdl-tab-panel>
		<mdl-tab-panel mdl-tab-panel-title="Lannisters">
			<ul>
				<li>Tywin</li>
				<li>Cersei</li>
				<li>Jamie</li>
				<li>Tyrion</li>
			</ul>
		</mdl-tab-panel>
		<mdl-tab-panel mdl-tab-panel-title="Targaryens">
			<ul>
				<li>Viserys</li>
				<li>Daenerys</li>
			</ul>
		</mdl-tab-panel>
	</mdl-tabs>
</div>


<pre prism>
  <![CDATA[
<mdl-tabs mdl-ripple mdl-tab-active-index="0" (mdl-tab-active-changed)="tabChanged($event)">
      <mdl-tab-panel mdl-tab-panel-title="Starks">
         <ul>
            <li>Eddard</li>
            <li>Catelyn</li>
            <li>Robb</li>
            <li>Sansa</li>
            <li>Brandon</li>
            <li>Arya</li>
            <li>Rickon</li>
         </ul>
      </mdl-tab-panel>
      <mdl-tab-panel mdl-tab-panel-title="Lannisters">
         <ul>
            <li>Tywin</li>
            <li>Cersei</li>
            <li>Jamie</li>
            <li>Tyrion</li>
         </ul>
      </mdl-tab-panel>
      <mdl-tab-panel mdl-tab-panel-title="Targaryens">
         <ul>
            <li>Viserys</li>
            <li>Daenerys</li>
         </ul>
      </mdl-tab-panel>
   </mdl-tabs>
  ]]>
</pre>

<h4>Tabs components</h4>
<p>These are standalone tabs that are not included in the basic layouts. Code a <i>mdl-tabs</i> element and within this
	component add <i>mdl-tab-panel</i> components. Don't be confused with the mdl-layout-tab-panel. </p>


<h5> Attributes of the mdl-tabs component</h5>


<table class="docu" mdl-shadow="2">
	<thead>
	<tr>
		<th>Attribute</th>
		<th>Description</th>
	</tr>
	</thead>
	<tbody>

	<tr>
		<td>mdl-tab-active-index</td>
		<td>
			Secifies the index of the active tab.
		</td>
	</tr>
	<tr>
		<td>mdl-tab-active-changed</td>
		<td>Event-listener function that will be fired if the activ tab index changed. The changed index
			is stored in the <i>index</i> property of the event object.
		</td>
	</tr>

	<tr>
		<td>mdl-ripple</td>
		<td>BooleanPorperty. If present or true the tabs will ripple on click or tap.</td>
	</tr>

	</tbody>
</table>




<h5> Attributes of the mdl-tab-panel component</h5>

<div>
	<table class="docu" mdl-shadow="2">
		<thead>
		<tr>
			<th>Attribute</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>

		<tr>
			<td>mdl-tab-panel-title</td>
			<td>
				The content of this attribute is used to create the tab title.
			</td>
		</tr>

		</tbody>
	</table>
</div>