<div class="mdl-layout__container" [ngClass]="{'has-scrolling-header': mode==='scroll'}">
   <div class="mdl-layout is-upgraded"
        [ngClass]="{
        'is-small-screen': isSmallScreen,
        'mdl-layout--fixed-drawer': isFixedDrawer,
        'mdl-layout--fixed-header': isFixedHeader,
        'mdl-layout--fixed-tabs': 'tabs.toArray().length > 0'
        }">
      <ng-content select="mdl-layout-header"></ng-content>
      <ng-content select="mdl-layout-drawer"></ng-content>
      <div *ngIf="drawer && isNoDrawer==false" class="mdl-layout__drawer-button" (click)="toggleDrawer()">
         <mdl-icon>&#xE5D2;</mdl-icon>
      </div>
      <ng-content select="mdl-layout-content"></ng-content>
      <div class="mdl-layout__obfuscator"
           [ngClass]="{'is-visible':isDrawerVisible}"
           (click)="toggleDrawer()"
           (keydown)="obfuscatorKeyDown($event)"></div>
   </div>
</div>