<div class="mdl-layout__container" [ngClass]="{'has-scrolling-header': mode==='scroll'}">
   <div class="mdl-layout" [ngClass]="{'is-small-screen': isSmallScreen}">
      <ng-content select="mdl-layout-header"></ng-content>
      <ng-content select="mdl-layout-drawer"></ng-content>
      <div class="mdl-layout__drawer-button" (click)="toggleDrawer()"><mdl-icon>&#xE5D2;</mdl-icon></div>
      <ng-content select="mdl-layout-content"></ng-content>
      <div class="mdl-layout__obfuscator"
           [ngClass]="{'is-visible':isDrawerVisible}"
           (click)="toggleDrawer()"
           (keydown)="obfuscatorKeyDown($event)"></div>
   </div>
</div>