<div class="mdl-layout__container">
  <div class="mdl-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <h1 class="mdl-color--primary mdl-color-text--accent">
        {{title}}
      </h1>
    </header>
    <main class="mdl-layout__content">
        <aside class="mdl-shadow--4dp">
          <a routerLink="/" routerLinkActive="router-link-active">Home</a>
          <a routerLink="/badge" routerLinkActive="router-link-active">Badges</a>
          <a routerLink="/button" routerLinkActive="router-link-active">Buttons</a>
          <a routerLink="/card" routerLinkActive="router-link-active">Cards</a>
          <a routerLink="/icon" routerLinkActive="router-link-active">Icons</a>
          <a routerLink="/loading" routerLinkActive="router-link-active">Loading</a>
          <a routerLink="/shadow" routerLinkActive="router-link-active">Shadows</a>
          <a routerLink="/toggle" routerLinkActive="router-link-active">Toggle</a>
        </aside>

        <div class="router-outlet">
          <router-outlet></router-outlet>
        </div>

    </main>
</div>
</div>
