<mdl-layout mdl-layout-fixed-header>
   <mdl-layout-header>
      <mdl-layout-header-row class="mdl-color--primary mdl-color-text--accent">
         <div *ngIf="mainLayout.isSmallScreen" class="mdl-layout__drawer-button" (click)="mainLayout.toggleDrawer()">
            <mdl-icon>&#xE5D2;</mdl-icon>
         </div>
         <mdl-layout-title class="docs-layout-title">
            {{title}}
         </mdl-layout-title>
         <mdl-layout-spacer></mdl-layout-spacer>
         <div>
            <a href="https://github.com/mseemann/angular2-mdl"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
         </div>
      </mdl-layout-header-row>
   </mdl-layout-header>
   <mdl-layout-content>
      <mdl-layout mdl-layout-fixed-drawer mdl-layout-no-drawer-button #mainLayout="mdlLayout">
         <mdl-layout-drawer>
            <nav class="mdl-navigation">
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">Home</a>
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/badge" routerLinkActive="router-link-active">Badges</a>
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/button" routerLinkActive="router-link-active">Buttons</a>
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/card" routerLinkActive="router-link-active">Cards</a>
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/icon" routerLinkActive="router-link-active">Icons</a>
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/layout" routerLinkActive="router-link-active">Layouts</a>
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/list" routerLinkActive="router-link-active">List</a>
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/loading" routerLinkActive="router-link-active">Loading</a>
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/menu" routerLinkActive="router-link-active">Menus</a>
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/shadow" routerLinkActive="router-link-active">Shadows</a>
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/slider" routerLinkActive="router-link-active">Sliders</a>
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/snackbar" routerLinkActive="router-link-active">Snackbar</a>
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/table" routerLinkActive="router-link-active">Tables</a>
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/textfield" routerLinkActive="router-link-active">Text Fields</a>
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/toggle" routerLinkActive="router-link-active">Toggle</a>
               <a (click)="componentSelected(mainLayout)" class="mdl-navigation__link" routerLink="/tooltip" routerLinkActive="router-link-active">Tooltips</a>
            </nav>
         </mdl-layout-drawer>
         <mdl-layout-content class="app-main-content">
            <div class="mdl-grid mdl-grid--no-spacing">
               <div class="mdl-cell mdl-cell--12-col">
                  <main class="component-description">
                     <div class="router-outlet">
                        <router-outlet></router-outlet>
                     </div>
                  </main>
               </div>
            </div>
         </mdl-layout-content>
      </mdl-layout>
   </mdl-layout-content>
</mdl-layout>

