@import "color-definitions";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-amber-A200;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

@import 'material-design-lite';


.router-outlet {
  margin-left: 1rem;
}

main {
  display: flex !important;
  flex-direction: row;
}

aside {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 200px;

  a {
    font-size: 1.25rem;
    text-decoration: none;
    padding: 0.5rem;
    color: unquote("rgb(#{$palette-grey-800})");

    &.router-link-active {
      color: unquote("rgb(#{$color-primary})");
    }
  }
}

h4{
  text-transform: uppercase;
}

.component-description {
  flex-grow: 1;
}

.app-main-content{
  flex-grow: 1;

  .mdl-grid{
    min-height: 100%;
  }

  .mdl-cell {
    display: flex;
  }
}