@import "color-definitions";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-amber-A200;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

@import 'material-design-lite';


.router-outlet {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
}

main {
  display: flex !important;
  flex-direction: row;
}

nav {

  a[routerLink] {
    padding: 8px 40px !important;
    font-size: 18px !important;
    color: unquote("rgb(#{$palette-grey-800})") !important;

    &.router-link-active {
      color: unquote("rgb(#{$color-primary})") !important;
    }
  }
}

h4{
  text-transform: uppercase;
}

.component-description {
  flex-grow: 1;
}


.app-main-content {

  .mdl-cell {
    display: flex;
  }
}

[prism] {
  background: #f5f2f0;
  white-space: pre-wrap;
  padding-left: 1rem;
}

table.docu {
  width: 100%;
  position: relative;
  border: 1px solid rgba(0,0,0,.12);
  border-collapse: collapse;
  white-space: normal;
  font-size: 13px;
  background-color: #fff;
  margin-bottom: 1rem;

  thead {
    background-color: unquote("rgb(#{$color-primary})");

    th {
      position: relative;
      vertical-align: bottom;
      text-overflow: ellipsis;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0;
      height: 48px;
      font-size: 16px;
      color: unquote("rgb(#{$color-accent})");
      padding-bottom: 8px;
      box-sizing: border-box;
    }
  }

  tbody {

    td:first-child {
      font-weight: bold;
      max-width: 300px;
    }

    td {
      vertical-align: top;
      position: relative;
      border-top: 1px solid rgba(0, 0, 0, .12);
      border-bottom: 1px solid rgba(0, 0, 0, .12);
      padding: 12px 18px;
      box-sizing: border-box;
      opacity: 0.8;
      font-size: 16px;
    }
  }

}

