<h4>Sliders</h4>

<div style="width: 300px;">
  <mdl-slider max="50" min="1" value="30"></mdl-slider>
</div>

<div style="width: 300px;">
  <mdl-slider [(ngModel)]="currentValue" [max]="maxValue" [min]="minValue" [step]="5"></mdl-slider>
</div>

currentValue is: {{currentValue}}

<pre demoPrism ngNonBindable>
  <![CDATA[
<div style="width: 300px;">
  <mdl-slider max="50" min="1" value="30"></mdl-slider>
</div>

<div style="width: 300px;">
  <mdl-slider [(ngModel)]="currentValue" [max]="maxValue" [min]="minValue" [step]="5"></mdl-slider>
</div>

currentValue is: {{currentValue}}
  ]]>
</pre>


<h6>Attributes</h6>
<table class="docu" mdl-shadow="2">
  <thead>
  <tr>
    <th>Attribute</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td>disabled</td>
    <td>Disable the slider if present or true.</td>
  </tr>

  <tr>
    <td>max</td>
    <td>
      Defines the maximum possible value.
    </td>
  </tr>

  <tr>
    <td>min</td>
    <td>
      Defines the minimum possible value.
    </td>
  </tr>

  <tr>
    <td>step</td>
    <td>
      Defines the step the value can change.
    </td>
  </tr>

  <tr>
    <td>ngModel</td>
    <td>
      This component is ngModel complient.
    </td>
  </tr>

  </tbody>
</table>



