<h4>Lists</h4>

<h5>Simple List</h5>

<mdl-list>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      Bryan Cranston
    </mdl-list-item-primary-content>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      Aaron Paul
    </mdl-list-item-primary-content>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      Bob Odenkirk
    </mdl-list-item-primary-content>
  </mdl-list-item>
</mdl-list>

<pre prism>
  <![CDATA[
<mdl-list>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      Bryan Cranston
    </mdl-list-item-primary-content>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      Aaron Paul
    </mdl-list-item-primary-content>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      Bob Odenkirk
    </mdl-list-item-primary-content>
  </mdl-list-item>
</mdl-list>
]]>
</pre>

<h5>Icons</h5>

<mdl-list>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-icon>person</mdl-icon>
      Bryan Cranston
    </mdl-list-item-primary-content>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-icon>person</mdl-icon>
      Aaron Paul
    </mdl-list-item-primary-content>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-icon>person</mdl-icon>
      Bob Odenkirk
    </mdl-list-item-primary-content>
  </mdl-list-item>
</mdl-list>

<pre prism>
  <![CDATA[
<mdl-list>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-icon>person</mdl-icon>
      Bryan Cranston
    </mdl-list-item-primary-content>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-icon>person</mdl-icon>
      Aaron Paul
    </mdl-list-item-primary-content>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-icon>person</mdl-icon>
      Bob Odenkirk
    </mdl-list-item-primary-content>
  </mdl-list-item>
</mdl-list>
]]>
</pre>

<h5>Avatars and actions</h5>

<mdl-list>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Bryan Cranston</span>
    </mdl-list-item-primary-content>
    <a href="#"><mdl-icon>star</mdl-icon></a>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Aaron Paul</span>
    </mdl-list-item-primary-content>
    <a href="#"><mdl-icon>star</mdl-icon></a>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Bob Odenkirk</span>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
</mdl-list>

<pre prism>
  <![CDATA[
<mdl-list>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Bryan Cranston</span>
    </mdl-list-item-primary-content>
    <a href="#"><mdl-icon>star</mdl-icon></a>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Aaron Paul</span>
    </mdl-list-item-primary-content>
    <a href="#"><mdl-icon>star</mdl-icon></a>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Bob Odenkirk</span>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
</mdl-list>
  ]]>
</pre>

<h5>Avatars and controls</h5>

<mdl-list>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      Bryan Cranston
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-action>
      <mdl-checkbox mdl-ripple></mdl-checkbox>
    </mdl-list-item-secondary-action>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      Aaron Paul
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-action>
      <mdl-radio ngModel="false" mdl-ripple></mdl-radio>
    </mdl-list-item-secondary-action>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      Bob Odenkirk
    </mdl-list-item-primary-content>
      <mdl-list-item-secondary-action>
        <mdl-switch mdl-ripple></mdl-switch>
      </mdl-list-item-secondary-action>
  </mdl-list-item>
</mdl-list>

<pre prism>
  <![CDATA[
  <style>
    mdl-radio, mdl-checkbox, mdl-switch {
      display: inline;
    }
  </style>
<mdl-list>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      Bryan Cranston
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-action>
      <mdl-checkbox mdl-ripple></mdl-checkbox>
    </mdl-list-item-secondary-action>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      Aaron Paul
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-action>
      <mdl-radio ngModel="false" mdl-ripple></mdl-radio>
    </mdl-list-item-secondary-action>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      Bob Odenkirk
    </mdl-list-item-primary-content>
      <mdl-list-item-secondary-action>
        <mdl-switch mdl-ripple></mdl-switch>
      </mdl-list-item-secondary-action>
  </mdl-list-item>
</mdl-list>
  ]]>
</pre>

<h5>Two line</h5>

<mdl-list>
  <mdl-list-item lines="2">
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Bryan Cranston</span>
      <mdl-list-item-sub-title>62 Episodes</mdl-list-item-sub-title>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <mdl-list-item-secondary-info>Actor</mdl-list-item-secondary-info>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
  <mdl-list-item lines="2">
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Aaron Paul</span>
      <mdl-list-item-sub-title>62 Episodes</mdl-list-item-sub-title>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
  <mdl-list-item lines="2">
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Bob Odenkirk</span>
      <mdl-list-item-sub-title>62 Episodes</mdl-list-item-sub-title>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
</mdl-list>

<pre prism>
  <![CDATA[
<mdl-list>
  <mdl-list-item lines="2">
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Bryan Cranston</span>
      <mdl-list-item-sub-title>62 Episodes</mdl-list-item-sub-title>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <mdl-list-item-secondary-info>Actor</mdl-list-item-secondary-info>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
  <mdl-list-item lines="2">
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Aaron Paul</span>
      <mdl-list-item-sub-title>62 Episodes</mdl-list-item-sub-title>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
  <mdl-list-item lines="2">
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Bob Odenkirk</span>
      <mdl-list-item-sub-title>62 Episodes</mdl-list-item-sub-title>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
</mdl-list>
  ]]>
</pre>

<h5>Three line</h5>

<mdl-list style="width:650px">
  <mdl-list-item lines="3">
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Bryan Cranston</span>
      <mdl-list-item-text-body>
        Bryan Cranston played the role of Walter in Breaking Bad. He is also known
        for playing Hal in Malcom in the Middle.
      </mdl-list-item-text-body>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
  <mdl-list-item lines="3">
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Aaron Paul</span>
      <mdl-list-item-text-body>
        Aaron Paul played the role of Jesse in Breaking Bad. He also featured in
        the "Need For Speed" Movie.
      </mdl-list-item-text-body>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
  <mdl-list-item lines="3">
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Bob Odenkirk</span>
      <mdl-list-item-text-body>
        Bob Odinkrik played the role of Saul in Breaking Bad. Due to public fondness for the
        character, Bob stars in his own show now, called "Better Call Saul".
      </mdl-list-item-text-body>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
</mdl-list>

<pre prism>
  <![CDATA[
<mdl-list style="width:650px">
  <mdl-list-item lines="3">
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Bryan Cranston</span>
      <mdl-list-item-text-body>
        Bryan Cranston played the role of Walter in Breaking Bad. He is also known
        for playing Hal in Malcom in the Middle.
      </mdl-list-item-text-body>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
  <mdl-list-item lines="3">
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Aaron Paul</span>
      <mdl-list-item-text-body>
        Aaron Paul played the role of Jesse in Breaking Bad. He also featured in
        the "Need For Speed" Movie.
      </mdl-list-item-text-body>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
  <mdl-list-item lines="3">
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-avatar>person</mdl-icon>
      <span>Bob Odenkirk</span>
      <mdl-list-item-text-body>
        Bob Odinkrik played the role of Saul in Breaking Bad. Due to public fondness for the
        character, Bob stars in his own show now, called "Better Call Saul".
      </mdl-list-item-text-body>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
</mdl-list>
     ]]>
</pre>