<h4>Layouts</h4>

<h5>Navigation layouts</h5>

<div class="demo-container demo-layout-transparent">
   <mdl-layout mdl-layout-mode="standard">
      <mdl-layout-header class="mdl-layout__header--transparent">
         <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Title</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
               <a class="mdl-navigation__link" href="">Link</a>
               <a class="mdl-navigation__link" href="">Link</a>
               <a class="mdl-navigation__link" href="">Link</a>
               <a class="mdl-navigation__link" href="">Link</a>
            </nav>
         </div>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <span class="mdl-layout-title">Title</span>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
         </nav>
      </mdl-layout-drawer>
      <div class="mdl-layout__drawer-button"><mdl-icon>&#xE5D2;</mdl-icon></div>
      <mdl-layout-content></mdl-layout-content>
   </mdl-layout>
</div>

<h5>Grid</h5>
<h5>Tabs</h5>
<h5>Footer</h5>

WIP...



<pre prism>
  <![CDATA[

  ]]>
</pre>
