<h4>Layouts</h4>

<h5>Navigation layouts</h5>

<div class="demo-container demo-layout-transparent">
   <mdl-layout #mdlLayout1="mdlLayout">
      <mdl-layout-header mdl-layout-header-transparent>
         <mdl-layout-header-row>
            <!-- Title -->
            <mdl-layout-title>Title</mdl-layout-title>
            <!-- Add spacer, to align navigation to the right -->
            <mdl-layout-spacer></mdl-layout-spacer>
            <!-- Navigation -->
            <nav class="mdl-navigation">
               <a class="mdl-navigation__link" href="">Link</a>
               <a class="mdl-navigation__link" href="">Link</a>
               <a class="mdl-navigation__link" href="">Link</a>
               <a class="mdl-navigation__link" href="">Link</a>
            </nav>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>Title</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>...</mdl-layout-content>
   </mdl-layout>
</div>
<mdl-button (click)="mdlLayout1.toggleDrawer()" mdl-button-type="raised" mdl-colored>Toggle Drawer</mdl-button>

<h5>Grid</h5>
<h5>Tabs</h5>
<h5>Footer</h5>

WIP...



<pre prism>
  <![CDATA[

  ]]>
</pre>
