<h4>The Buttons</h4>

<!-- Colored FAB button -->
<button mdl-button="fab" mdl-colored>
  <mdl-icon>add</mdl-icon>
</button>
<!-- Colored FAB button with ripple -->
<button  mdl-button="fab" mdl-colored mdl-ripple>
  <mdl-icon>add</mdl-icon>
</button>

<pre prism>
  <![CDATA[
  <!-- Colored FAB button -->
  <button mdl-button="fab" mdl-colored>
    <mdl-icon>add</mdl-icon>
  </button>

  <!-- Colored FAB button with ripple --<
  <button  mdl-button="fab" mdl-colored mdl-ripple>
    <mdl-icon>add</mdl-icon>
  </button>
  ]]>
</pre>


<!-- FAB button -->
<button mdl-button="fab">
  <mdl-icon>add</mdl-icon>
</button>
<!-- FAB button with ripple -->
<button mdl-button="fab" mdl-ripple>
  <mdl-icon>add</mdl-icon>
</button>
<!-- Disabled FAB button -->
<button mdl-button="fab" disabled>
  <mdl-icon>add</mdl-icon>
</button>

<pre prism>
  <![CDATA[
  <!-- FAB button -->
  <button mdl-button="fab">
    <mdl-icon>add</mdl-icon>
  </button>
  <!-- FAB button with ripple -->
  <button mdl-button="fab" mdl-ripple>
    <mdl-icon>add</mdl-icon>
  </button>
  <!-- Disabled FAB button -->
  <button mdl-button="fab" disabled>
    <mdl-icon>add</mdl-icon>
  </button>
  ]]>
</pre>

<!-- Raised button -->
<button mdl-button="raised">
  Button
</button>
<!-- Raised button with ripple -->
<button mdl-button="raised" mdl-ripple>
  Button
</button>
<!-- Raised disabled button-->
<button mdl-button="raised" disabled>
  Button
</button>

<pre prism>
  <![CDATA[
  <!-- Raised button -->
  <button mdl-button="raised">
    Button
  </button>
  <!-- Raised button with ripple -->
  <button mdl-button="raised" mdl-ripple>
    Button
  </button>
  <!-- Raised disabled button -->
  <button mdl-button="raised" disabled>
    Button
  </button>
  ]]>
</pre>

<!-- Colored raised button -->
<button mdl-button="raised" mdl-colored>
  Button
</button>
<!-- Accent-colored raised button -->
<button mdl-button="raised" mdl-colored="accent">
  Button
</button>
<!-- Accent-colored raised button with ripple -->
<button mdl-button="raised" mdl-colored="accent" mdl-ripple>
  Button
</button>

<pre prism>
  <![CDATA[
  <!-- Colored raised button -->
  <button mdl-button="raised" mdl-colored>
    Button
  </button>
  <!-- Accent-colored raised button -->
  <button mdl-button="raised" mdl-colored="accent">
    Button
  </button>
  <!-- Accent-colored raised button with ripple -->
  <button mdl-button="raised" mdl-colored="accent" mdl-ripple>
    Button
  </button>
  ]]>
</pre>

<!-- Flat button -->
<button mdl-button>
  Button
</button>
<!-- Flat button with ripple -->
<button mdl-button mdl-ripple>
  Button
</button>
<!-- Disabled flat button -->
<button mdl-button mdl-ripple disabled>
  Button
</button>

<pre prism>
  <![CDATA[
  <!-- Flat button -->
  <button mdl-button>
    Button
  </button>
  <!-- Flat button with ripple -->
  <button mdl-button mdl-ripple>
    Button
  </button>
  Disabled flat button
  <button mdl-button mdl-ripple disabled>
    Button
  </button>
  ]]>
</pre>

<!-- Primary-colored flat button -->
<button mdl-button mdl-colored="primary">
  Button
</button>
<!-- Accent-colored flat button -->
<button mdl-button mdl-colored="accent">
  Button
</button>

<pre prism>
  <![CDATA[
  <!-- Primary-colored flat button -->
  <button mdl-button mdl-colored="primary">
    Button
  </button>
  <!-- Accent-colored flat button -->
  <button mdl-button mdl-colored="accent">
    Button
  </button>
  ]]>
</pre>

<!-- Icon button -->
<button mdl-button="icon">
  <mdl-icon>mood</mdl-icon>
</button>
<!-- Colored icon button -->
<button mdl-button="icon" mdl-colored>
  <mdl-icon>mood</mdl-icon>
</button>

<pre prism>
  <![CDATA[
  <!-- Icon button -->
  <button mdl-button="icon">
    <mdl-icon>mood</mdl-icon>
  </button>
  <!-- Colored icon button -->
  <button mdl-button="icon" mdl-colored>
    <mdl-icon>mood</mdl-icon>
  </button>
  ]]>
</pre>

<!-- Mini FAB button -->
<button mdl-button="mini-fab">
  <mdl-icon>add</mdl-icon>
</button>
<!-- Colored mini FAB button -->
<button mdl-button="mini-fab" mdl-colored>
  <mdl-icon>add</mdl-icon>
</button>

<pre prism>
  <![CDATA[
  <!-- Mini FAB button -->
  <button mdl-button="mini-fab">
    <mdl-icon>add</mdl-icon>
  </button>
  <!-- Colored mini FAB button -->
  <button mdl-button="mini-fab" mdl-colored>
    <mdl-icon>add</mdl-icon>
  </button>
  ]]>
</pre>

<h4>Dynamic experiments</h4>

<button [mdl-button]="buttonType" [mdl-ripple]="doRipple">
  <mdl-icon>add</mdl-icon>
</button>

<div>
  <div>
    <label for="raised">Raised</label>
    <input #raised type="radio" name="buttonType" [checked]="buttonType === raised.value" (click)="buttonType = raised.value" value="raised">
    <label for="fab">Fab</label>
    <input #fab type="radio" name="buttonType" [checked]="buttonType == fab.value" (click)="buttonType = fab.value" value="fab">
    <label for="fab">Mini Fab</label>
    <input #miniFab type="radio" name="buttonType" [checked]="buttonType == miniFab.value" (click)="buttonType= miniFab.value" value="mini-fab" >
    <label for="icon">Icon</label>
    <input #icon type="radio" name="buttonType" [checked]="buttonType == icon.value" (click)="buttonType=icon.value" value="icon" >
  </div>
  <div>{{buttonType}}</div>
  <div>
    <input type="checkbox" [(ngModel)]="doRipple">Ripple effect active?
  </div>

</div>


