<h4>The Buttons</h4>

<!-- Colored FAB button -->
<mdl-button mdl-button-type="fab" mdl-colored>
  <mdl-icon>add</mdl-icon>
</mdl-button>
<!-- Colored FAB button with ripple -->
<mdl-button  mdl-button-type="fab" mdl-colored mdl-ripple>
  <mdl-icon>add</mdl-icon>
</mdl-button>

<pre prism>
  <![CDATA[
  <!-- Colored FAB button -->
  <mdl-button mdl-button-type="fab" mdl-colored>
    <mdl-icon>add</mdl-icon>
  </mdl-button>

  <!-- Colored FAB button with ripple -->
  <mdl-button  mdl-button-type="fab" mdl-colored mdl-ripple>
    <mdl-icon>add</mdl-icon>
  </mdl-button>
  ]]>
</pre>


<!-- FAB button -->
<mdl-button mdl-button-type="fab">
  <mdl-icon>add</mdl-icon>
</mdl-button>
<!-- FAB button with ripple -->
<mdl-button mdl-button-type="fab" mdl-ripple>
  <mdl-icon>add</mdl-icon>
</mdl-button>
<!-- Disabled FAB button -->
<mdl-button mdl-button-type="fab" disabled>
  <mdl-icon>add</mdl-icon>
</mdl-button>

<pre prism>
  <![CDATA[
  <!-- FAB button -->
  <mdl-button mdl-button-type="fab">
    <mdl-icon>add</mdl-icon>
  </mdl-button>
  <!-- FAB button with ripple -->
  <mdl-button mdl-button-type="fab" mdl-ripple>
    <mdl-icon>add</mdl-icon>
  </mdl-button>
  <!-- Disabled FAB button -->
  <mdl-button mdl-button-type="fab" disabled>
    <mdl-icon>add</mdl-icon>
  </mdl-button>
  ]]>
</pre>

<!-- Raised button -->
<mdl-button mdl-button-type="raised">
  Button
</mdl-button>
<!-- Raised button with ripple -->
<mdl-button mdl-button-type="raised" mdl-ripple>
  Button
</mdl-button>
<!-- Raised disabled button-->
<mdl-button mdl-button-type="raised" disabled>
  Button
</mdl-button>

<mdl-button mdl-button-type="raised" [disabled]="btnDisabled">
	Button
</mdl-button>

<mdl-checkbox mdl-ripple [(ngModel)]="btnDisabled">Disable Button</mdl-checkbox>

<pre prism>
  <![CDATA[
  <!-- Raised button -->
  <mdl-button mdl-button-type="raised">
    Button
  </mdl-button>
  <!-- Raised button with ripple -->
  <mdl-button mdl-button-type="raised" mdl-ripple>
    Button
  </mdl-button>
  <!-- Raised disabled button -->
  <mdl-button mdl-button-type="raised" disabled>
    Button
  </mdl-button>

	<mdl-button mdl-button-type="raised" [disabled]="btnDisabled">
		Button
	</mdl-button>
  ]]>
</pre>

<!-- Colored raised button -->
<mdl-button mdl-button-type="raised" mdl-colored>
  Button
</mdl-button>
<!-- Accent-colored raised button -->
<mdl-button mdl-button-type="raised" mdl-colored="accent">
  Button
</mdl-button>
<!-- Accent-colored raised button with ripple -->
<mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
  Button
</mdl-button>

<pre prism>
  <![CDATA[
  <!-- Colored raised button -->
  <mdl-button mdl-button-type="raised" mdl-colored>
    Button
  </mdl-button>
  <!-- Accent-colored raised button -->
  <mdl-button mdl-button-type="raised" mdl-colored="accent">
    Button
  </mdl-button>
  <!-- Accent-colored raised button with ripple -->
  <mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
    Button
  </mdl-button>
  ]]>
</pre>

<!-- Flat button -->
<mdl-button>
  Button
</mdl-button>
<!-- Flat button with ripple -->
<mdl-button mdl-ripple>
  Button
</mdl-button>
<!-- Disabled flat button -->
<mdl-button mdl-ripple disabled>
  Button
</mdl-button>

<pre prism>
  <![CDATA[
  <!-- Flat button -->
  <mdl-button>
    Button
  </mdl-button>
  <!-- Flat button with ripple -->
  <mdl-button mdl-ripple>
    Button
  </mdl-button>
  Disabled flat button
  <mdl-button mdl-ripple disabled>
    Button
  </mdl-button>
  ]]>
</pre>

<!-- Primary-colored flat button -->
<mdl-button mdl-colored="primary">
  Button
</mdl-button>
<!-- Accent-colored flat button -->
<mdl-button mdl-colored="accent">
  Button
</mdl-button>

<pre prism>
  <![CDATA[
  <!-- Primary-colored flat button -->
  <mdl-button mdl-colored="primary">
    Button
  </mdl-button>
  <!-- Accent-colored flat button -->
  <mdl-button mdl-colored="accent">
    Button
  </mdl-button>
  ]]>
</pre>

<!-- Icon button -->
<mdl-button mdl-button-type="icon">
  <mdl-icon>mood</mdl-icon>
</mdl-button>
<!-- Colored icon button -->
<mdl-button mdl-button-type="icon" mdl-colored>
  <mdl-icon>mood</mdl-icon>
</mdl-button>

<pre prism>
  <![CDATA[
  <!-- Icon button -->
  <mdl-button mdl-button-type="icon">
    <mdl-icon>mood</mdl-icon>
  </mdl-button>
  <!-- Colored icon button -->
  <mdl-button mdl-button-type="icon" mdl-colored>
    <mdl-icon>mood</mdl-icon>
  </mdl-button>
  ]]>
</pre>

<!-- Mini FAB button -->
<mdl-button mdl-button-type="mini-fab">
  <mdl-icon>add</mdl-icon>
</mdl-button>
<!-- Colored mini FAB button -->
<mdl-button mdl-button-type="mini-fab" mdl-colored>
  <mdl-icon>add</mdl-icon>
</mdl-button>

<pre prism>
  <![CDATA[
  <!-- Mini FAB button -->
  <mdl-button mdl-button-type="mini-fab">
    <mdl-icon>add</mdl-icon>
  </mdl-button>
  <!-- Colored mini FAB button -->
  <mdl-button mdl-button-type="mini-fab" mdl-colored>
    <mdl-icon>add</mdl-icon>
  </mdl-button>
  ]]>
</pre>

<h4>Dynamic experiments</h4>

<div>
  <div>
     <mdl-radio name="buttonType" [(ngModel)]="buttonType" value="raised">Raised</mdl-radio>
     <mdl-radio name="buttonType" [(ngModel)]="buttonType" value="fab">Fab</mdl-radio>
     <mdl-radio name="buttonType" [(ngModel)]="buttonType" value="mini-fab">Mini</mdl-radio>
     <mdl-radio name="buttonType" [(ngModel)]="buttonType" value="icon">Icon</mdl-radio>
     <mdl-radio name="buttonType" [(ngModel)]="buttonType" value="">Default</mdl-radio>
  </div>
  <div>
    <mdl-checkbox [(ngModel)]="doRipple" mdl-ripple>Ripple effect active?</mdl-checkbox>
  </div>
   <div>
      <mdl-radio name="coloredType" [(ngModel)]="colored" value="">None</mdl-radio>
      <mdl-radio name="coloredType" [(ngModel)]="colored" value="accent">Accent</mdl-radio>
      <mdl-radio name="coloredType" [(ngModel)]="colored" value="primary">Primary</mdl-radio>
   </div>

   <mdl-button [mdl-button-type]="buttonType" [mdl-ripple]="doRipple" [mdl-colored]="colored">
      <mdl-icon>add</mdl-icon>
   </mdl-button>

</div>

<h4>Attributes for component mdl-button</h4>
<table class="docu" mdl-shadow="2">
   <thead>
      <tr>
         <th>Attribute</th>
         <th>Description</th>
      </tr>
   </thead>
   <tbody>

      <tr>
         <td>mdl-button-type</td>
         <td>
            Specifies how the button is rendered. Supported values:
            <ul>
               <li>raised</li>
               <li>fab</li>
               <li>mini-fab</li>
               <li>icon</li>
            </ul>
         </td>
      </tr>

      <tr>
         <td>mdl-colored</td>
         <td>
            Specifies wether the botton is colored and how the button is colored.
            <ul>
               <li>if no value is provided the button has no color.</li>
               <li>if <i>accent</i> is provided as value. The accent color is used to color the button</li>
               <li>if <i>primary</i> is provided as value. The primary color is used to color the button</li>
            </ul>
         </td>
      </tr>

      <tr>
         <td>mdl-ripple</td>
         <td>
            <i>mdl-ripple</i> is a BooleanPorperty - e.g. if present or value is true the ripple effect is active.
            If not present or the value is false the ripple effect isn't active.
         </td>
      </tr>

      <tr>
         <td>disbaled</td>
         <td>
            <i>disabled</i> is a BooleanPorperty - e.g. if present or value is true the button is disabled.
            If not present or the value is false the button is not disabled.
         </td>
      </tr>

   </tbody>

</table>


