<h4>The Buttons</h4>

<!-- Colored FAB button -->
<button mdl-button="fab" mdl-colored>
  <mdl-icon>add</mdl-icon>
</button>
<!-- Colored FAB button with ripple -->
<button  mdl-button="fab" mdl-colored mdl-ripple>
  <mdl-icon>add</mdl-icon>
</button>

<prism>
  <![CDATA[
  Colored FAB button
  <br/><button mdl-button="fab" mdl-colored>
  <br/>  <mdl-icon>add</mdl-icon>
  <br/></button>
  <br/>
  <br/>Colored FAB button with ripple
  <br/><button  mdl-button="fab" mdl-colored mdl-ripple>
  <br/>  <mdl-icon>add</mdl-icon>
  <br/></button>
  ]]>
</prism>


<!-- FAB button -->
<button mdl-button="fab">
  <mdl-icon>add</mdl-icon>
</button>
<!-- FAB button with ripple -->
<button mdl-button="fab" mdl-ripple>
  <mdl-icon>add</mdl-icon>
</button>
<!-- Disabled FAB button -->
<button mdl-button="fab" disabled>
  <mdl-icon>add</mdl-icon>
</button>

<prism>
  <![CDATA[
  FAB button
  <br/><button mdl-button="fab">
  <br/>  <mdl-icon>add</mdl-icon>
  <br/></button>
  <br/>FAB button with ripple
  <br/><button mdl-button="fab" mdl-ripple>
  <br/>  <mdl-icon>add</mdl-icon>
  <br/></button>
  <br/>Disabled FAB button
  <br/><button mdl-button="fab" disabled>
  <br/>  <mdl-icon>add</mdl-icon>
  <br/></button>
  ]]>
</prism>

<!-- Raised button -->
<button mdl-button="raised">
  Button
</button>
<!-- Raised button with ripple -->
<button mdl-button="raised" mdl-ripple>
  Button
</button>
<!-- Raised disabled button-->
<button mdl-button="raised" disabled>
  Button
</button>

<prism>
  <![CDATA[
  Raised button
  <br/><button mdl-button="raised">
  <br/>  Button
  <br/></button>
  <br/>Raised button with ripple
  <br/><button mdl-button="raised" mdl-ripple>
  <br/>  Button
  <br/></button>
  <br/>Raised disabled button
  <br/><button mdl-button="raised" disabled>
  <br/>  Button
  <br/></button>
  ]]>
</prism>

<!-- Colored raised button -->
<button mdl-button="raised" mdl-colored>
  Button
</button>
<!-- Accent-colored raised button -->
<button mdl-button="raised" mdl-colored="accent">
  Button
</button>
<!-- Accent-colored raised button with ripple -->
<button mdl-button="raised" mdl-colored="accent" mdl-ripple>
  Button
</button>

<prism>
  <![CDATA[
  Colored raised button
  <br/><button mdl-button="raised" mdl-colored>
  <br/>  Button
  <br/></button>
  <br/>Accent-colored raised button
  <br/><button mdl-button="raised" mdl-colored="accent">
  <br/>  Button
  <br/></button>
  <br/>Accent-colored raised button with ripple
  <br/><button mdl-button="raised" mdl-colored="accent" mdl-ripple>
  <br/>  Button
  <br/></button>
  ]]>
</prism>

<!-- Flat button -->
<button mdl-button>
  Button
</button>
<!-- Flat button with ripple -->
<button mdl-button mdl-ripple>
  Button
</button>
<!-- Disabled flat button -->
<button mdl-button mdl-ripple disabled>
  Button
</button>

<prism>
  <![CDATA[
  <br/>Flat button
  <br/><button mdl-button>
  <br/>  Button
  <br/></button>
  <br/>Flat button with ripple
  <br/><button mdl-button mdl-ripple>
  <br/>  Button
  <br/></button>
  <br/>Disabled flat button
  <br/><button mdl-button mdl-ripple disabled>
  <br/>  Button
  <br/></button>
  ]]>
</prism>

<!-- Primary-colored flat button -->
<button mdl-button mdl-colored="primary">
  Button
</button>
<!-- Accent-colored flat button -->
<button mdl-button mdl-colored="accent">
  Button
</button>

<prism>
  <![CDATA[
  Primary-colored flat button
  <br/><button mdl-button mdl-colored="primary">
  <br/>  Button
  <br/></button>
  <br/>Accent-colored flat button
  <br/><button mdl-button mdl-colored="accent">
  <br/>  Button
  <br/></button>
  ]]>
</prism>

<!-- Icon button -->
<button mdl-button="icon">
  <mdl-icon>mood</mdl-icon>
</button>
<!-- Colored icon button -->
<button mdl-button="icon" mdl-colored>
  <mdl-icon>mood</mdl-icon>
</button>

<prism>
  <![CDATA[
  Icon button
  <br/><button mdl-button="icon">
  <br/>  <mdl-icon>mood</mdl-icon>
  <br/></button>
  <br/>Colored icon button
  <br/><button mdl-button="icon" mdl-colored>
  <br/>  <mdl-icon>mood</mdl-icon>
  <br/></button>
  ]]>
</prism>

<!-- Mini FAB button -->
<button mdl-button="mini-fab">
  <mdl-icon>add</mdl-icon>
</button>
<!-- Colored mini FAB button -->
<button mdl-button="mini-fab" mdl-colored>
  <mdl-icon>add</mdl-icon>
</button>

<prism>
  <![CDATA[
  Mini FAB button
  <br/><button mdl-button="mini-fab">
  <br/>  <mdl-icon>add</mdl-icon>
  <br/></button>
  <br/>Colored mini FAB button
  <br/><button mdl-button="mini-fab" mdl-colored>
  <br/>  <mdl-icon>add</mdl-icon>
  <br/></button>
  ]]>
</prism>

<h4>Dynamic experiments</h4>

<button [mdl-button]="buttonType" [mdl-ripple]="doRipple">
  <mdl-icon>add</mdl-icon>
</button>

<div>
  <div>
    <label for="raised">Raised</label>
    <input #raised type="radio" name="buttonType" [checked]="buttonType === raised.value" (click)="buttonType = raised.value" value="raised">
    <label for="fab">Fab</label>
    <input #fab type="radio" name="buttonType" [checked]="buttonType == fab.value" (click)="buttonType = fab.value" value="fab">
    <label for="fab">Mini Fab</label>
    <input #miniFab type="radio" name="buttonType" [checked]="buttonType == miniFab.value" (click)="buttonType= miniFab.value" value="mini-fab" >
    <label for="icon">Icon</label>
    <input #icon type="radio" name="buttonType" [checked]="buttonType == icon.value" (click)="buttonType=icon.value" value="icon" >
  </div>
  <div>{{buttonType}}</div>
  <div>
    <input type="checkbox" [(ngModel)]="doRipple">Ripple effect active?
  </div>

</div>


