@import "../variables";
@import "../mixins";

.mdl-popover__container {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: #fff;
  position: absolute;
  overflow: visible;
  visibility: hidden;
  z-index: -1;

  &.is-visible,
  &.is-animating {
    z-index: 999;
    visibility: visible;
  }

  .mdl-list {
    padding: 0;

    .mdl-list__item {
      cursor: pointer;

      &:hover {
        background-color: $default-item-hover-bg-color;
      }

      &.is-active {
        background-color: $default-item-active-bg-color;
      }
    }
  }
}
