<h4>Text Fields</h4>


<mdl-textfield type="text" label="Text..." [(ngModel)]="text1" placeholder="type a text"></mdl-textfield>
<mdl-textfield
        type="text"
        label="Number..."
        pattern="-?[0-9]*(\.[0-9]+)?"
        error-msg="Input is not a number!"
        [(ngModel)]="text2"></mdl-textfield>

<br/>
{{text1}}
{{text2}}

<br/>
<mdl-textfield type="text" label="Text...(disabled)" [(ngModel)]="text3" disabled></mdl-textfield>

<pre prism>
  <![CDATA[
<mdl-textfield type="text" label="Text..." [(ngModel)]="text1"></mdl-textfield>
<mdl-textfield
        type="text"
        label="Number..."
        pattern="-?[0-9]*(\.[0-9]+)?"
        error-msg="Input is not a number!"
        [(ngModel)]="text2"></mdl-textfield>
  ]]>
</pre>

<h5>Text/Numeric with floating label</h5>

<mdl-textfield type="text" label="Text..." [(ngModel)]="text3" floating-label></mdl-textfield>
<mdl-textfield
        type="text"
        label="Number..."
        pattern="-?[0-9]*(\.[0-9]+)?"
        error-msg="Input is not a number!"
        [(ngModel)]="text4"
        floating-label ></mdl-textfield>

<br/>
{{text3}}
{{text4}}

<pre prism>
  <![CDATA[
<mdl-textfield type="text" label="Text..." [(ngModel)]="text3" floating-label></mdl-textfield>
<mdl-textfield
        type="text"
        label="Number..."
        pattern="-?[0-9]*(\.[0-9]+)?"
        error-msg="Input is not a number!"
        [(ngModel)]="text4"
        floating-label ></mdl-textfield>
  ]]>
</pre>

<h5>Multiline Textfield</h5>
aka Textarea. Add the attribute row to turn the input field to a textarea. Specify maxrows to restrict the
possible lines.<br/>

<mdl-textfield label="Text..." [(ngModel)]="text5" rows="3" maxrows="3" floating-label></mdl-textfield>
<br/>
{{text5}}

<pre prism>
  <![CDATA[
<mdl-textfield label="Text..." [(ngModel)]="text5" rows="3" maxrows="3" floating-label></mdl-textfield>
  ]]>
</pre>

<h5>Expandable</h5>

Just specify an icon to turn the text input field into an expandable field.
<br/>

<mdl-textfield type="text" [(ngModel)]="text6" icon="search"></mdl-textfield>
<br/>
{{text6}}
<pre prism>
  <![CDATA[
<mdl-textfield type="text" [(ngModel)]="text6" icon="search"></mdl-textfield>
  ]]>
</pre>