<h4>The Cards</h4>

<h5>Work in prgress...</h5>

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Get Started
    </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>

<mdl-card class="demo-card-wide" mdl-shadow="2">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button mdl-button mdl-colored mdl-ripple>Get Started</button>
  </div>
  <div class="mdl-card__menu">
    <button mdl-button="icon" mdl-ripple><i class="material-icons">share</i></button>
  </div>
</mdl-card>

<div style="clear: both"></div>

<prism>
  <mdl-card mdl-shadow="2">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button mdl-button mdl-colored mdl-ripple>Get Started</button>
    </div>
    <div class="mdl-card__menu">
      <button mdl-button="icon" mdl-ripple><i class="material-icons">share</i></button>
    </div>
  </mdl-card>

</prism>
